{% if file_exists("images/logo.zip") %} {% set logo_zip = true %} {% endif %}
{% if file_exists("images/logo.png") %} {% set logo_png = true %} {% endif %}
{% if file_exists("images/icon.png") %} {% set icon_png = true %} {% endif %}
{% if logo_zip or logo_png or icon_png %} {% set logo = true %} {% endif %}
{% set images = get_images(['png', 'jpg', 'gif'], ['logo.png', 'icon.png', 'header.png']) %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>{{ common.title }}</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/uikit/1.2.0/css/uikit.gradient.min.css" rel="stylesheet" type="text/css">
        <link href={% block css_path %}{% endblock %} rel="stylesheet" type="text/css">
    </head>

    <body>
        <div class="uk-container uk-container-center">
            <div class="uk-grid">
                <div id="navigation" class="uk-width-medium-1-4">
                    <h1 class="nav-header">{% block title %}{% endblock %}</h1>
                    {% block header %}{% endblock %}

                    <ul class="uk-nav uk-nav-side">
                        <li><a href="#factsheet">Factsheet</a></li>
                        {% if common.description|length > 0 %}<li><a href="#description">Description</a></li>{% endif %}
                        {% block histories_history %}{% endblock %}
                        {% block projects_features %}{% endblock %}
                        {% if common.trailers|length > 0 %}<li><a href="#trailers">Videos</a></li>{% endif %}
                        {% if file_exists("images/images.zip") or images|length > 0 %}{% block images_screenshots %}{% endblock %}{% endif %}
                        {% if logo %}<li><a href="#logo">Logo & Icon</a></li>{% endif %}
                        {% if common.awards|length > 0 %}<li><a href="#awards">Awards & Recognition</a></li>{% endif %}
                        {% if common.quotes|length > 0 %}<li><a href="#quotes">Selected Articles</a></li>{% endif %}
                        {% block _navpreview %}{% endblock %}
                        {% if common.additionals|length > 0 %}<li><a href="#links">Additional Links</a></li> {% endif %}
                        {% block _navabout %}{% endblock %}
                        {% if common.credits|length > 0 %}<li><a href="#credits">Team</a></li>{% endif %}
                        {% if company.contacts|length > 0 %}<li><a href="#contact">Contact</a></li>{% endif %}

                    </ul>
                </div>
                <div id="content" class="uk-width-medium-3-4">

                    {% if file_exists("images/header.png") %}
                        <img src="images/header.png" class="header">
                    {% endif %}

                    <div class="uk-grid">
                        <div class="uk-width-medium-2-6">
                            <h2 id="factsheet">Factsheet</h2>
                            <p>
                                <strong>Developer:</strong><br/>
                                <a href={% block company_path %}{% endblock %}>{{ company.title }}</a><br/>
                                {% if company.based_in|length > 0 %}
                                    Based in {{ company.based_in }}
                                {% endif %}
                            </p>

                            {% block foundingdate_releasedate %}{% endblock %}

                            {% block companysite_gamesite %}{% endblock %}

                            {% block press_regularprice %}{% endblock %}

                        </div>

                        <div class="uk-width-medium-4-6">
                            {% if common.description|length > 0 %}
                                <h2 id="description">Description</h2>
                                <p>{{ common.description }}</p>
                            {% endif %}

                            {% block historieprojects_historyfeatures %}{% endblock %}
                        </div>
                    </div>

                    <hr>

                    {% if common.trailers|length > 0 %}
                        <h2 id="trailers">Videos</h2>
                        {% for trailer in common.trailers.trailer %}
                            <p><strong>{{ trailer.name }}</strong>&nbsp;

                            {% if "youtube" in trailer %}
                                <a href="https://www.youtube.com/watch?v={{ trailer.youtube }}">YouTube</a>
                                <div class="uk-responsive-width iframe-container">
                                    <iframe src="https://www.youtube.com/embed/{{ trailer.youtube }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                            {% endif %}

                            {% if "vimeo" in trailer %}
                                <a href="https://www.vimeo.com/{{ trailer.vimeo }}">Vimeo</a>
                                <div class="uk-responsive-width iframe-container">
                                    <iframe src="https://player.vimeo.com/video/{{ trailer.vimeo }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                            {% endif %}

                            {% if "mov" in trailer %}
                                <a href="trailers/{{ trailer.mov }}">.mov</a>
                            {% endif %}

                            {% if "mp4" in trailer %}
                                <a href="trailers/{{ trailer.mp4 }}">.mp4</a>
                            {% endif %}

                            </p>

                        {% endfor %}
                        <hr>
                    {% endif %}

                    {% if file_exists("images/images.zip") or images|length > 0 %}
                        <h2 id="images">Images</h2>

                        {% if file_exists("images/images.zip") %}
                            {% set fsize = filesize("images/images.zip") %}
                            <a href="images/images.zip"><div class="uk-alert">download all screenshots &amp; photos as .zip ({{ fsize|filesizeformat }})</div></a>
                        {% endif %}


                        {% if images|length > 0 %}
                            <div class="uk-grid images">
                                {% for image in images %}
                                    <div class="uk-width-medium-1-2"><a href="images/{{ image }}"><img src="images/{{ image }}" alt="{{ image }}" /></a></div>
                                {% endfor %}
                            </div>
                        {% endif %}

                        <br/>
                        <p class="images-text">There are far more images available for {{ common.title }}, but these are the ones we felt would be most useful to you. If you have specific requests, please do <a href="#contact">contact us</a>!</p>

                        <hr>
                    {% endif %}

                    {% if logo %}
                        <h2 id="logo">Logo & Icon</h2>

                        {% if logo_zip %}
                            {% set fsize = filesize("images/logo.zip") %}
                            <a href="images/logo.zip"><div class="uk-alert">download logo files as .zip ({{ fsize|filesizeformat }})</div></a>
                        {% endif %}

                        <div class="uk-grid images">

                        {% if logo_png %}
                            <div class="uk-width-medium-1-2"><a href="images/logo.png"><img src="images/logo.png" alt="logo" /></a></div>
                        {% endif %}

                        {% if icon_png %}
                            <div class="uk-width-medium-1-2"><a href="images/icon.png"><img src="images/icon.png" alt="logo" /></a></div>
                        {% endif %}

                        </div>
                    <hr>
                    {% endif %}


                    {% if common.awards|length > 0 %}
                        <h2 id="awards">Awards & Recognition</h2>
                        <ul>
                            {% for award in common.awards.award %}
                                <li>"{{ award.description }}" - <cite>{{ award.info }}</cite></li>
                            {% endfor %}
                        </ul>
                        <hr>
                    {% endif %}

                    {% if common.quotes|length > 0 %}
                        <h2 id="quotes">Selected Articles</h2>
                        <ul>
                            {% for quote in common.quotes.quote %}
                                <li>"{{ quote.description }}"<br/><cite>- {{ quote.name }}, <a href="{{ parse_url(quote.link) }}">{{ quote.website }}</a></cite></li></li>
                            {% endfor %}

                        </ul>
                        <hr>
                    {% endif %}

                    {% block _preview %}{% endblock %}

                    <!-- {% block additionals %}{% endblock %} -->
                    {% if common.additionals|length > 0 %}
                        <h2 id="links">Additional Links</h2>
                        {% for additional in common.additionals.additional %}
                            <p>
                                <strong>{{ additional.title }}</strong><br/>
                                {{ additional.description }} <a href="{{ parse_url(additional.link) }}" alt={{ additional.link }}>{{ additional.link|get_site }}</a>.
                            </p>
                        {% endfor %}

                        <hr>
                    {% endif %}

                    {% block _about %}{% endblock %}

                    {% if common.credits|length > 0 or company.contacts|length > 0 %}
                        <div class="uk-grid">
                            {% if common.credits|length > 0 %}
                                <div class="uk-width-medium-1-2">
                                    <h2 id="credits">{% block credit_name %}{% endblock %}</h2>

                                    {% for credit in common.credits.credit %}
                                        <p>
                                        <strong>{{ credit.person }} </strong><br/>
                                        {% if "website" in credit and credit.website|length != 0 %}
                                            <a href="{{ parse_url(credit.website) }}">{{ credit.role }}</a>
                                        {% else %}
                                            {{ credit.role }}
                                        {% endif %}
                                        </p>
                                    {% endfor %}

                                </div>
                            {% endif %}

                            {% if company.contacts|length > 0 %}
                                <div class="uk-width-medium-1-2">
                                    <h2 id="contact">Contact</h2>

                                    {% for contact in company.contacts.contact %}
                                        <p>
                                        
                                        {% if not "link" in contact and contact.mail|length > 0 %}
                                            <strong>{{ contact.name }}</strong><br/><a href="mailto:{{ contact.mail }}">{{ contact.mail }}</a>
                                        {% endif %}

                                        {% if not "mail" in contact and contact.link|length > 0 %}
                                            <strong>{{ contact.name }}</strong><br/><a href="{{ parse_url(contact.link) }}">{{ contact.link|clean_url }}</a>
                                        {% endif %}
                                        </p>
                                    {% endfor %}

                                </div>
                            {% endif %}
                        </div>
                        <hr>
                    {% endif %}


                    <p><a href="http://dopresskit.com/">presskit()</a> by Rami Ismail (<a href="http://www.vlambeer.com/">Vlambeer</a>) - also thanks to <a href={% block credit_path %}{% endblock %}>these fine folks</a></p>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.js"></script>      
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.2/masonry.pkgd.min.js"></script>
        <script type="text/javascript">
            $( document ).ready(function() {
                var container = $('.images');

                container.imagesLoaded( function() {
                    container.masonry({
                        itemSelector: '.uk-width-medium-1-2',
                    });
                });
            });
        </script>

        {% if google_analytics != none %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', '{{ google_analytics }}', 'auto');
                ga('send', 'pageview');
            </script>
        {% endif %}
    </body>
</html>
