{% extends "layout_common.html" %}

{% block title %}{{ project.title }}{% endblock %}
{% block css_path %}"../style.css"{% endblock %}
{% block company_path %}"../index.html"{% endblock %}
{% block credit_path %}"../credits.html"{% endblock %}
{% block projects_features %}<li><a href="#features">Features</a></li>{% endblock %}
{% block images_screenshots %}<li><a href="#images">Images</a></li>{% endblock %}
{% block _navpreview %}<li><a href="#preview">Request Press Copy</a></li>{% endblock %}

{% block header %}
    <a class="nav-header" href="../index.html">press kit</a>
{% endblock %}

{% block foundingdate_releasedate %}
    <p>
        <strong>Release date:</strong><br/>
        {{ project.release_date }}
    </p>

    <p>
        <strong>Platforms:</strong><br/>
        {% for platform in project.platforms.platform %}
            <a href="//{{ platform.link }}">{{ platform.name }}</a><br/>
        {% endfor %}
    </p>


{% endblock %}

{% block press_regularprice %}
    <strong>Regular Price:</strong><br />
    <table>
    {% for price in project.prices.price %}
        <tr><td>{{ price.currency }}</td><td>{{ price.value }}</td></tr>
    {% endfor %}
    </table>
{% endblock %}

{% block historieprojects_historyfeatures %}
    <h2 id="history">History</h2>
    <p>{{ project.history }}</p>

    <h2 id="features">Features</h2>
    <ul>

    {% for feature in project.features.feature %}
        <li>{{ feature }}</li>
    {% endfor %}

    </ul>
{% endblock %}

{% block _preview %}
    <h2 id="preview">Request Press Copy</h2>
    <p>Please send us an e-mail at <a href="mailto:{{ company.press_contact }}">{{ company.press_contact }}</a> and we'll get back to you as soon as a press copy is available for you.</p>
    <hr>
{% endblock %}

{% block credit_name %}{{ project.title}} Credits{% endblock %}
